extends base

block title
  title Tareas del Proyecto

block content
  .contenido-principal
    h1 Listado de tareas - #{mainTitle}

    .contenedor-acciones
      a(href=`/project/edit/${project.id}` class="boton") Editar Proyecto
      button#eleminar-proyecto(type="button" class="boton eliminar") Eliminar Proyecto