<!DOCTYPE html>
html(lang="en")
  head
    include partials/header
    title Restablecer contraseña

  body.login

    .contenedor-formulario
      h1 Restablecer Contraseña

      if error
        p.alerta.error= error
        
      p Introduce tu correo para restablecer tu contraseña

      form.caja-login(method='POST' action='/reset-password')
        .campo
          label(for='email') Correo:
          input(type='email' name='email' placeholder='Tu correo')
        .campo.enviar
          input.boton(type='submit' value='Restablecer contraseña')
        .campo.acciones
          a(href='/sign-in') Ya la recordé! Regresar a iniciar sesión 