<!DOCTYPE html>
html(lang="en")
  head
    include partials/header
    title Restablecer contraseña

  body.login

    .contenedor-formulario
      h1 Nueva Contraseña
        
      p Introduce tu nueva contraseña

      form.caja-login(method='POST')
        .campo
          label(for='password') Contraseña:
          input(type='password' name='password' placeholder='Tu nueva contraseña')
        .campo.enviar
          input.boton(type='submit' value='Establecer nueva contraseña')