<!DOCTYPE html>
html(lang="en")
  head
    include partials/header
    block title
      title Crear Cuenta
  body.login

    .contenedor-formulario
      h1 Crea tu cuenta en UpTask

      if errors
        each error in errors
          if error.message == 'users.Users_email_unique must be unique'
            p.error.alerta Usuario ya registrado
          p.error.alerta= error.message

      form#formulario.caja.caja-login(action='/sign-up' method='POST')
        .campo
          label(for='email') Correo:
          input(type='email' name='email' placeholder='Introduce tu correo' required)
        .campo
          label(for='password') Contraseña:
          input(type='password' name='password' placeholder='Introduce una contraseña' required)
        .campo.enviar
          input.boton(type='submit' value='Crear Cuenta')
        .campo
          a(href='/sign-in') Iniciar Sesión
        script(src='/dist/bundle.js')