<!DOCTYPE html>
html(lang="en")
  head
    include partials/header
    block title
      title Iniciar Sesión
  body.login

    .contenedor-formulario
      h1 Inicia Sesión en UpTask

      if error
        p.alerta.error= error
 
      form#formulario.caja.caja-login(action='/sign-in' method='POST')
        .campo
          label(for='email') Correo:
          input(type='email' name='email' placeholder='Introduce tu correo' required value=email)
        .campo
          label(for='password') Contraseña:
          input(type='password' name='password' placeholder='Introduce una contraseña' required value=password)
        .campo.enviar
          input.boton(type='submit' value='Iniciar Sesión')
        .campo
          a(href='/sign-up') ¿No tienes una cuenta? Crea una gratis