<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style 
      include ./email.css
  body
    h2 Restablecimiento de Contraseña
    p Haz hecho una solicitud para restablecer la contraseña de tu cuenta, haz click en el enlace para restablecer tu password, no pases este enlace a nadie. El enlace vence en una hora.
    a(href=`${resetPassURL}`) Restablecer contraseña